spring:
  application:
    name: eureka-server
server:
  port: 7001
eureka:
  instance:
    hostname: peer1
  client:
    register-with-eureka: false #标记为服务端
    fetch-registry: false #标记为服务端
    service-url:
      defaultZone: http://peer2:7002/eureka/
